.{
	margin: 0;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}


.blur-layer{
	position: absolute;
	background-color: #000000;
	opacity: 0.5;
}

#user-information{
	height: 700px;
	width: 100%;
	margin-top: 75px;
	background-image: url("../../../static/images/bg6.jpg"); 
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}

#h1{
	width: 100%;
	font-weight: bold;
	font-size: 50px;
	font-style: italic;
	font-family: Papyrus;
	color: #ffffff;
	text-align: center;
	margin-top: 250px;
	position: absolute;
}

/*organizations*/


#organizations-wrapper{
	width: 100%;
	height: auto;
}

#organizations{
	margin-top: 50px;
	margin-left: 10%;
	width: 80%;
	height: auto;
	padding-bottom: 80px;
}

.organization-card{
	height: 260px;
	margin-top: 50px;
	margin-left: 40px;
}

.organization-card .front-face{
	position: absolute;
	height: 260px;
	width: 100%;
	background-color: #ffffff;
	-webkit-transform: perspective(600px) rotateY(0deg);
	-webkit-backface-visibility: hidden;
	transition: -webkit-transform 0.5s linear 0s;
	box-shadow: 5px 5px 2px #dddddd;
	text-align: center;
}

.organization-card .front-face img{
	height: 120px;
	width: 120px;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 60px;
}



.organization-card .front-face p{
	font-size: 18px;
	font-family: fantasy;
	margin-top: 20px;
}

.organization-card .back-face{
	position: absolute;
	height: 260px;	
	width: 100%;
	background-color: #ffffff;
	-webkit-transform: perspective(600px) rotateY(180deg);
	-webkit-backface-visibility: hidden;
	transition: -webkit-transform 0.5s linear 0s;
	box-shadow: 5px 5px 2px #dddddd;
	text-align: center;
}

.organization-card .back-face div a{
	color: #ffffff;
}

.organization-card .back-face .organization-intro{
	height: 160px;
	margin-top: 30px;
	font-size: 20px;
	font-family: fantasy;
	width: 80%;
	margin-left: 10%;
}

.organization-card:hover > .front-face{
	transform: perspective(600px) rotateY(-180deg);
}

.organization-card:hover > .back-face{
	transform: perspective(600px) rotateY(0deg);
}

.follow-button a:hover{
	text-decoration: none;
}


.button{
	height: 40px;
	background-color: #66cccc;
	width: 80%;
	margin-left: 10%;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
	vertical-align: middle;
}



/*quiz*/
#quizes-wrapper{
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	background-color: #ffffff;
}

#quiz-search{
	height: 50px;
	width: 40%;
	margin-left: 30%;
}

#quiz-search-bar{
	float:left; 
	width:500px; 
	height:50px; 
	padding-left:20px; 
	padding-right:20px; 
	font-size: 20px;
}

.button-large{
	background-color: #66cccc;
	padding-left: 40px;
	padding-right: 40px;
	height: 50px;
	font-size: 30px;
	font-style: bold;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	border-radius: 5px;
}

#quiz-search-category{
	height: 100px;
	width: 60%;
	margin-left: 20%;
	margin-top: 30px;
}

.category{
	font-size: 20px;
	color: #ffffff;
	background-color: #66cccc;
	padding: 10px 20px; 
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	border-radius: 5px;
}

#quiz-search-result{
	height: 700px;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 50px;
}

#quizzes-list{
	margin-top: 70px;
	width: 60%;
	height: 100%;
	float: left;
	overflow: auto;
}

#quizzes-list a{
	text-decoration: none;
	font-size: 40px;
	font-family: fantasy;
	font-style: italic;
}

#quizzes-list p{
	margin-left: 30%;
	margin-top: 10px;
}

#quiz-detail{
	width: 40%;
	float: left;
	text-align: center;
}

#quiz-detail img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: 0 auto;
	border: 3px solid #cccccc;
	margin-top: 40px;
}

#quiz-detail p{
	font-size: 20px;
}