#user-photo{
	height: 150px;
	width: 150px;
	margin-left: 50%;
	position: absolute;
	left: -75px;
	border-radius: 75px;
}

#like{
	position: absolute;
	float: right;
}

#like-img{
	width: 30px;
	height: 30px;
}
.comment{
	margin-top: 20px;
	border-bottom: 1px solid #dddddd;
}

.normal-text{
	font-size: 18px;
	font-style: bold;
}

.sub-text{
	color: #cccccc;
	font-size: 12px;
}


/*org-card*/

.org-card-image-wrapper{
	text-align: center;
	width: 100%;
	height: 110px;
}

.org-card-image{
	height: 100px;
	width: 100px;
	margin-left: 50%;
	position: absolute;
	left: -50px;
	border-radius: 50px;
}

.org-card-blur{
	height: 100px;
	width: 100px;
	margin-left: 50%;
	position: absolute;
	left: -50px;
	border-radius: 50px;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.org-card-name{
	margin-top: 40px;
	width: 100px;
	margin-left: 50%;
	padding-left: 20px;
	padding-right: 20px;
	left: -50px;
	text-align: center;
	position: absolute;
	font-size: 18px;
	font-style: bold;
	color: #ffffff;
	display: none
}
