<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Discovering - Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    {% include "style.html" %}
    <!-- CUSTOMIZED CSS -->
    <link href="../static/organizations/css/organizations.css" rel="stylesheet" type="text/css">
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="page-md page-header-fixed">
<!-- BEGIN HEADER -->
{% include "navbar.html" %}
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEAD -->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Organizations</h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
            <!-- END PAGE HEAD -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- END PAGE HEADER-->
            <!-- BEGIN ORG SHOW-->
            {% for organization in organizations %}
            {% if loop.index % 3 == 0 %}
            <div class="row">
                {% endif %}
                <div class="col-md-4">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption font-purple-plum">
                                {% if organizations[loop.index0].avatar %}
                                <img class="organization_avatar" src="./../static/organizations/org.jpg">
                                {% else %}
                                <img class="organization_avatar" src="./../static/organizations/org.jpg">
                                {% endif %}
                                <span class="caption-subject bold uppercase">{{organizations[loop.index0].username}}</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-cloud-upload"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="context" data-toggle="context" data-target="#context-menu">
                                <p>
                                    Organization Description should goes here.
                                </p>
                            </div>
                        </div>
                        <div style="height:25px; margin-top:25px">
                            <a class="button" style="float:left">Follow</a>
                            <a class="button" style="float:right">Quiz</a>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                {% if loop.index % 3 == 0 %}
            </div>
            {% endif %}
            {% endfor %}
            <!-- END ORG SHOW-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2016 &copy; Discovering
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
{% include "script.html" %}
<script>
    jQuery(document).ready(function () {
        // initiate layout and plugins
//        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
//        Demo.init(); // init demo features
//        ComponentsContextMenu.init(); // init context menu demo
    });
</script>
<!-- END GOOGLE RECAPTCHA -->
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>