<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Discovering - Quizzes</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    {% include "style.html" %}
    <link href="../static/organizations/css/organizations.css" rel="stylesheet" type="text/css">
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="page-md page-header-fixed">
<!-- BEGIN HEADER -->
{% include "navbar.html" %}
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-head">
                <div class="page-title">
                    <h1>Search result for "{{ keyword }}"</h1>
                </div>
                <select class="bs-select form-control input-small" data-style="blue" style="float: right"
                        action="search" method="GET" id="filter">
                    <option class="submit" value="95aSXQ3xMo">Literature</option>
                    <option class="submit" value="B27UMxa7DN">Humanities</option>
                    <option class="submit" value="jiOhl8H1AD">STEM</option>
                    <option class="submit" value="gFuZJIxNOX">Arts & Music</option>
                    <option class="submit" value="20a1SGKdV6">General Knowledge</option>
                    <option class="submit" value="yXP2YI0cLN">Civics</option>
                    <option class="submit" value="3ZtI62iDmf">Sport & Health</option>
                    <option class="submit" value="QGSYXQTaly">Pop-Culture</option>
                </select>
            </div>
			<div id="quizList">
            <!-- BEGIN QUIZ SHOW-->
				{% for quiz in quiz_list %}
				{% if loop.index % 3 == 0 %}
				<div class="row">
					{% endif %}
					<div class="col-md-4">
						<!-- BEGIN PORTLET-->
						<div class="portlet light">
							<div class="portlet-title">
								<div class="caption font-purple-plum">
									{% if quiz.imageThumbnail %}
									<img class="organization_avatar" src="./../static/organizations/book.png">
									{% endif %}
									<span class="caption-subject bold uppercase">{{quiz.name}}</span>
								</div>
							</div>
							<div class="portlet-body">
								<div id="context" data-toggle="context" data-target="#context-menu">
									<p>
										{% if quiz.summary %}
										{{quiz.summary}}
                                        {% else %}
                                        Description
                                        {% endif %}
									</p>
								</div>
							</div>
							<div style="height:25px; margin-top:25px">
								<button class="btn blue btn-block">Play</button>
							</div>
						</div>
						<!-- END PORTLET-->
					</div>
					{% if loop.index % 3 == 0 %}
				</div>
            {% endif %}
            {% endfor %}
            <!-- END QUIZ SHOW-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2016 &copy; Discovering
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
{% include "script.html" %}
<script src="../static/frontend/pages/scripts/search.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
//        // initiate layout and plugins
//        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
//        Demo.init(); // init demo features
//        ComponentsContextMenu.init(); // init context menu demo
    });
</script>
<!-- END GOOGLE RECAPTCHA -->
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>